p {
  color: black;
}

h2{
    color: blue;

}

/* drugi akapit zawsze jest zielony */

h2 + p + p{
    color: greenyellow;

}

.red{
    color: red;
    font-weight: bold;
}

@media (min-width: 1000px){
    h2 {
        background-color: greenyellow;
    }
}

body {
    background-color: aqua;
    padding: 10px 50px;
}